@import "tailwindcss";

*{
  font-family: 'Outfit';
}

/* :root {
  color-scheme: light dark;
  --text-color: #111827;
  --bg-color: #ffffff;
  --primary-color: #3b82f6;
}

/* This is the key change from Method 1 */
/* [data-theme="dark"]:root {
  --text-color: #f9fafb;
  --bg-color: #111827;
  --primary-color: #60a5fa;
} */ 

a{
  font-family: "Ovo";
  font-size: 19px;
}
h3{
  font-family: "Ovo";
}
#paragraph{
  font-family: "Ovo";
  font-size:16px
}

#cardsAbout:hover{
   box-shadow: '10px 10px 4px #000';
}
